.breadcrumbs {
  &__container {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
    list-style-type: none;
    li {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      gap: 15px;
      a {
        color: #b5b5b5;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        position: relative;
        @include hover() {
          color: #44798e;
          text-decoration: underline;
        }
      }
      &::after {
        content: '/';
        color: #b5b5b5;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        position: relative;
        display: inline-block;
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
      span {
        color: #44798e;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
      }
    }
  }
}
/* Стили для пагинации */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  &__item {
    display: inline-block;
    padding: 3px 16px;
    text-align: center;
    font-size: 16px;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    @include hover() {
      background-color: #44798e;
      color: white;
      path {
        fill: white;
      }
    }
    &.active {
      background-color: #44798e;
      color: white;
      cursor: default;
    }
  }
  .dots {
    color: #343b3f;
    font-family: 'Inter Tight';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}

.btn {
  display: flex;
  justify-self: flex-start;
  padding: 18px 14px;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-shrink: 0;
  border-radius: 500px;
  color: #fff;
  font-family: $font-family-heading;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  background: #44798e;
  transition: all 0.5s ease;
  @include hover {
    background: darken($color: #44798e, $amount: 10);
  }
  &:active {
    transform: scale(0.08);
  }
}

.btn-cricle {
  color: #fff;
  font-family: $font-family-heading;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 88px 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  background: #44798e;
  transition: all 0.5s ease;
  @include hover() {
    color: #fff;
    background: #44798e linear-gradient(120deg, #44798e 5.99%, #93bdce 90.38%);
  }
  &:active {
    transform: scale(0.8);
  }
}

@include media-mobile-horizontal {
  .breadcrumbs {
    margin-bottom: 40px;
  }

  .btn-cricle {
    font-size: 14px;
    padding: 31px 12px;
  }
}
