h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $font-family-heading;
  line-height: 100%;
  mark {
    color: #44798e;
    background: transparent;
  }
}

h1 {
  font-size: 76px;
  @include media-mobile-horizontal {
    font-size: 40px;
  }
}
h2 {
  font-size: 64px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

p,
li {
  margin: 8px 0;
  font-size: 16px;
  line-height: 120%;
}
