*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
  transition: all 0.5s ease;
  color: #44798e;
  @include hover {
    color: darken($color: #44798e, $amount: 10);
  }
}
a,
button {
  cursor: pointer;
  border: none;
}
html {
  overflow: hidden auto;
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #e0e0e0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #44798e;
  }
}
body {
  font-family: $font-family-primary;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background-color: #e0e0e0;
  color: #1e1f21;
}

footer {
  margin-top: auto;
}
.main {
  padding-top: 70px;
  @include media-tablet-horizontal {
    padding-top: 60px;
  }
}
.container,
[class*='__container'] {
  max-width: $mediaWidthLaptop;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  @include media-tablet-horizontal {
    max-width: 100%;
    padding: 0 20px;
  }
  @include media-mobile-horizontal {
    padding: 0 10px;
  }
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
