@font-face {
  font-family: 'Bebas Neue';
  src: url('../font/bebasneuecyrillic.eot');
  src: url('../font/bebasneuecyrillic.eot') format('embedded-opentype'),
    url('../font/bebasneuecyrillic.woff2') format('woff2'),
    url('../font/bebasneuecyrillic.woff') format('woff'),
    url('../font/bebasneuecyrillic.ttf') format('truetype'),
    url('../font/bebasneuecyrillic.svg#bebasneuecyrillic') format('svg');
  font-style: normal;
  font-weight: 700;
}

$font-family-primary: 'Inter Tight', sans-serif;
$font-family-heading: 'Bebas Neue', sans-serif;
