.service-hero {
  padding-top: 50px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 40px;
  }

  &__header {
    h1 {
      font-size: 76px;
    }
  }

  &__offer {
    flex: 0 0 auto;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    &._big {
      max-width: 460px;
    }
    p {
      color: #343b3f;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }
    .btn {
      width: 100%;
    }
  }

  &__cover {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100vw;
      aspect-ratio: 1 / 0.3;
      object-fit: cover;
    }
  }
}

@include media-tablet-horizontal {
  .service-hero {
    &__container {
      flex-direction: column;
      gap: 30px;
    }

    &__header {
      h1 {
        font-size: 64px;
      }
    }

    &__offer {
      gap: 25px;
    }

    &__cover {
      img {
        aspect-ratio: 1 / 0.5;
      }
    }
  }
}

@include media-mobile-horizontal {
  .service-hero {
    padding-top: 40px;
    &__container {
      gap: 20px;
    }

    &__header {
      h1 {
        font-size: 40px;
      }
    }

    &__offer {
      gap: 40px;
      p {
        font-size: 14px;
      }
    }

    &__cover {
      img {
        aspect-ratio: 1 / 0.7;
      }
    }
  }
}
