.articles-page {
  margin: 50px 0 140px;
  &__container {
    position: relative;
    &::after {
      position: absolute;
      top: -54px;
      right: -180px;
      content: '';
      width: 310px;
      height: 310px;
      background: url("data:image/svg+xml,%3Csvg width='312' height='313' viewBox='0 0 312 313' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M217.943 63.277C166.697 63.277 125.154 104.954 125.154 156.366C125.154 207.777 166.697 249.455 217.943 249.455C269.189 249.455 310.732 207.777 310.732 156.366C310.732 104.954 269.189 63.277 217.943 63.277Z' stroke='%23B5B5B5' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M197.252 42.5192C134.578 42.5192 83.7715 93.4901 83.7715 156.366C83.7715 219.241 134.578 270.212 197.252 270.212C259.925 270.212 310.732 219.241 310.732 156.366C310.732 93.4901 259.925 42.5192 197.252 42.5192Z' stroke='%23B5B5B5' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M176.557 21.7614C102.456 21.7614 42.3855 82.0258 42.3855 156.366C42.3855 230.706 102.456 290.97 176.557 290.97C250.658 290.97 310.729 230.706 310.729 156.366C310.728 82.0258 250.658 21.7614 176.557 21.7614Z' stroke='%23B5B5B5' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M155.866 1.00001C70.3361 1.00002 1.00016 70.5596 1.00017 156.366C1.00018 242.172 70.3361 311.731 155.866 311.731C241.396 311.731 310.732 242.172 310.732 156.366C310.732 70.5596 241.396 1.00001 155.866 1.00001Z' stroke='%23B5B5B5' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M217.943 63.277C166.697 63.277 125.154 104.954 125.154 156.366C125.154 207.777 166.697 249.455 217.943 249.455C269.189 249.455 310.732 207.777 310.732 156.366C310.732 104.954 269.189 63.277 217.943 63.277Z' stroke='%23B5B5B5' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M197.252 42.5192C134.578 42.5192 83.7715 93.4901 83.7715 156.366C83.7715 219.241 134.578 270.212 197.252 270.212C259.925 270.212 310.732 219.241 310.732 156.366C310.732 93.4901 259.925 42.5192 197.252 42.5192Z' stroke='%23B5B5B5' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M176.557 21.7614C102.456 21.7614 42.3855 82.0258 42.3855 156.366C42.3855 230.706 102.456 290.97 176.557 290.97C250.658 290.97 310.729 230.706 310.729 156.366C310.728 82.0258 250.658 21.7614 176.557 21.7614Z' stroke='%23B5B5B5' stroke-width='0.75' stroke-miterlimit='10'/%3E%3C/svg%3E%0A")
        center center / contain no-repeat;
    }
  }
  &__grid {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__article {
    flex: 0 0 calc((100% / 4) - 40px);
    background-color: #ffffff;
    overflow: hidden;
    transition: all 0.5s ease;
    @include hover() {
      transform: scale(1.05);
      .articles-page {
        &__cover {
          img {
            transform: scale(1.2);
          }
        }
      }
    }
  }

  &__cover {
    display: flex;
    height: 200px;
    overflow: hidden;
    img {
      width: 100%;
      aspect-ratio: 1 / 0.8;
      object-fit: cover;
      transition: all 0.5s ease;
    }
  }

  &__content {
    padding: 30px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__name {
    color: #44798e;
    font-family: $font-family-heading;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }

  &__descr {
    color: #4d4f50;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }

  &__date {
    margin-top: auto;
    color: #a8a8a8;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}

@include media-tablet-horizontal {
  .articles-page {
    &__article {
      flex: 0 0 calc((100% / 2) - 20px);
    }
  }
}

@include media-mobile-horizontal {
  .articles-page {
    margin: 40px 0 100px;
    &__grid {
      flex-direction: column;
    }

    &__article {
      flex: 0 0 auto;
    }
  }
}
