.contacts-info {
  padding: 80px 0;
  background-color: #1e1f21;
  color: #e0e0e0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 40px;
    position: relative;
    &::after {
      position: absolute;
      top: -60px;
      right: -440px;
      content: '';
      width: 537px;
      height: 403px;
      background: url("data:image/svg+xml,%3Csvg width='539' height='405' viewBox='0 0 539 405' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M115.324 249.753C141.438 223.656 141.438 181.345 115.324 155.248C89.2104 129.152 46.8716 129.152 20.7578 155.248C-5.356 181.345 -5.35599 223.656 20.7578 249.753C46.8716 275.85 89.2103 275.85 115.324 249.753Z' stroke='%23343B3F' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M94.9641 296.223C146.76 296.223 188.748 254.262 188.748 202.5C188.748 150.738 146.76 108.777 94.9641 108.777C43.1684 108.777 1.17969 150.738 1.17969 202.5C1.17969 254.262 43.1684 296.223 94.9641 296.223Z' stroke='%23343B3F' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M121.879 323.126C188.542 323.126 242.584 269.12 242.584 202.5C242.584 135.88 188.542 81.8737 121.879 81.8737C55.2153 81.8737 1.17383 135.88 1.17383 202.5C1.17383 269.12 55.2153 323.126 121.879 323.126Z' stroke='%23343B3F' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M148.795 350.025C230.323 350.025 296.416 283.976 296.416 202.5C296.416 121.024 230.323 54.9754 148.795 54.9754C67.266 54.9754 1.17383 121.024 1.17383 202.5C1.17383 283.976 67.266 350.025 148.795 350.025Z' stroke='%23343B3F' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M175.716 376.923C272.11 376.923 350.253 298.831 350.253 202.5C350.253 106.169 272.11 28.077 175.716 28.077C79.3225 28.077 1.17969 106.169 1.17969 202.5C1.17969 298.831 79.3225 376.923 175.716 376.923Z' stroke='%23343B3F' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M202.631 403.826C313.893 403.826 404.089 313.689 404.089 202.5C404.089 91.3107 313.893 1.17401 202.631 1.17401C91.3694 1.17401 1.17383 91.3107 1.17383 202.5C1.17383 313.689 91.3694 403.826 202.631 403.826Z' stroke='%23343B3F' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M115.324 249.753C141.438 223.656 141.438 181.345 115.324 155.248C89.2104 129.152 46.8716 129.152 20.7578 155.248C-5.356 181.345 -5.35599 223.656 20.7578 249.753C46.8716 275.85 89.2103 275.85 115.324 249.753Z' stroke='%23343B3F' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M94.9641 296.223C146.76 296.223 188.748 254.262 188.748 202.5C188.748 150.738 146.76 108.777 94.9641 108.777C43.1684 108.777 1.17969 150.738 1.17969 202.5C1.17969 254.262 43.1684 296.223 94.9641 296.223Z' stroke='%23343B3F' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M121.879 323.126C188.542 323.126 242.584 269.12 242.584 202.5C242.584 135.88 188.542 81.8737 121.879 81.8737C55.2153 81.8737 1.17383 135.88 1.17383 202.5C1.17383 269.12 55.2153 323.126 121.879 323.126Z' stroke='%23343B3F' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M148.795 350.025C230.323 350.025 296.416 283.976 296.416 202.5C296.416 121.024 230.323 54.9754 148.795 54.9754C67.266 54.9754 1.17383 121.024 1.17383 202.5C1.17383 283.976 67.266 350.025 148.795 350.025Z' stroke='%23343B3F' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M175.716 376.923C272.11 376.923 350.253 298.831 350.253 202.5C350.253 106.169 272.11 28.077 175.716 28.077C79.3225 28.077 1.17969 106.169 1.17969 202.5C1.17969 298.831 79.3225 376.923 175.716 376.923Z' stroke='%23343B3F' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M202.631 403.826C313.893 403.826 404.089 313.689 404.089 202.5C404.089 91.3107 313.893 1.17401 202.631 1.17401C91.3694 1.17401 1.17383 91.3107 1.17383 202.5C1.17383 313.689 91.3694 403.826 202.631 403.826Z' stroke='%23343B3F' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M518.24 249.751C544.354 223.654 544.354 181.343 518.24 155.246C492.126 129.15 449.788 129.15 423.674 155.246C397.56 181.343 397.56 223.654 423.674 249.751C449.788 275.848 492.126 275.848 518.24 249.751Z' stroke='%23343B3F' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M444.038 296.223C495.834 296.223 537.823 254.262 537.823 202.5C537.823 150.738 495.834 108.777 444.038 108.777C392.243 108.777 350.254 150.738 350.254 202.5C350.254 254.262 392.243 296.223 444.038 296.223Z' stroke='%23343B3F' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M417.121 323.126C483.785 323.126 537.826 269.12 537.826 202.5C537.826 135.88 483.785 81.8737 417.121 81.8737C350.457 81.8737 296.416 135.88 296.416 202.5C296.416 269.12 350.457 323.126 417.121 323.126Z' stroke='%23343B3F' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M390.205 350.025C471.734 350.025 537.826 283.976 537.826 202.5C537.826 121.024 471.734 54.9754 390.205 54.9754C308.676 54.9754 242.584 121.024 242.584 202.5C242.584 283.976 308.676 350.025 390.205 350.025Z' stroke='%23343B3F' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M363.285 376.923C459.679 376.923 537.822 298.831 537.822 202.5C537.822 106.169 459.679 28.077 363.285 28.077C266.891 28.077 188.748 106.169 188.748 202.5C188.748 298.831 266.891 376.923 363.285 376.923Z' stroke='%23343B3F' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M336.369 403.826C447.631 403.826 537.827 313.689 537.827 202.5C537.827 91.3107 447.631 1.17401 336.369 1.17401C225.108 1.17401 134.912 91.3107 134.912 202.5C134.912 313.689 225.108 403.826 336.369 403.826Z' stroke='%23343B3F' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M518.24 249.751C544.354 223.654 544.354 181.343 518.24 155.246C492.126 129.15 449.788 129.15 423.674 155.246C397.56 181.343 397.56 223.654 423.674 249.751C449.788 275.848 492.126 275.848 518.24 249.751Z' stroke='%23343B3F' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M444.038 296.223C495.834 296.223 537.823 254.262 537.823 202.5C537.823 150.738 495.834 108.777 444.038 108.777C392.243 108.777 350.254 150.738 350.254 202.5C350.254 254.262 392.243 296.223 444.038 296.223Z' stroke='%23343B3F' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M417.121 323.126C483.785 323.126 537.826 269.12 537.826 202.5C537.826 135.88 483.785 81.8737 417.121 81.8737C350.457 81.8737 296.416 135.88 296.416 202.5C296.416 269.12 350.457 323.126 417.121 323.126Z' stroke='%23343B3F' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M390.205 350.025C471.734 350.025 537.826 283.976 537.826 202.5C537.826 121.024 471.734 54.9754 390.205 54.9754C308.676 54.9754 242.584 121.024 242.584 202.5C242.584 283.976 308.676 350.025 390.205 350.025Z' stroke='%23343B3F' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M363.285 376.923C459.679 376.923 537.822 298.831 537.822 202.5C537.822 106.169 459.679 28.077 363.285 28.077C266.891 28.077 188.748 106.169 188.748 202.5C188.748 298.831 266.891 376.923 363.285 376.923Z' stroke='%23343B3F' stroke-width='0.75' stroke-miterlimit='10'/%3E%3Cpath d='M336.369 403.826C447.631 403.826 537.827 313.689 537.827 202.5C537.827 91.3107 447.631 1.17401 336.369 1.17401C225.108 1.17401 134.912 91.3107 134.912 202.5C134.912 313.689 225.108 403.826 336.369 403.826Z' stroke='%23343B3F' stroke-width='0.75' stroke-miterlimit='10'/%3E%3C/svg%3E%0A")
        center center / contain no-repeat;
    }
  }

  &__header {
    position: relative;
    z-index: 1;
    h2 {
      font-size: 96px;
    }
  }

  &__list {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 0 0 auto;
    max-width: 510px;
    .contacts-page__social {
      display: none;
    }
    .contacts-page__item {
      a,
      p {
        color: #e0e0e0;
        @include hover {
          color: #44798e;
        }
      }
    }
  }
}
@include media-tablet-horizontal {
  .contacts-info {
    &__container {
      flex-direction: column;
      &::after {
        top: -60px;
        right: -230px;
      }
    }
  }
}

@include media-mobile-horizontal {
  .contacts-info {
    &__container {
      gap: 30px;
      &::after {
        top: -60px;
        right: -130px;
        width: 239px;
        height: 180px;
      }
    }

    &__header {
      h2 {
        font-size: 40px;
      }
      .contacts-page__social {
        display: none;
      }
    }

    &__list {
      gap: 30px;
      .contacts-page__social {
        display: flex;
        margin-top: 0;
      }
    }
  }
}
